<div class="dashboard__sidebar scroll-bar-1">


    <div class="sidebar -dashboard">

      <div class="sidebar__item -is-active -dark-bg-dark-2">
        <a href="/dashboard" class="d-flex items-center text-17 lh-1 fw-500 ">
          <i class="text-20 icon-discovery mr-15"></i>
          Dashboard
        </a>
      </div>

      <div class="sidebar__item ">
        <a href="/mycourses" class="d-flex items-center text-17 lh-1 fw-500 -dark-text-white">
          <i class="text-20 icon-play-button mr-15"></i>
          My Courses
        </a>
      </div>

      <div class="sidebar__item ">
        <a href="/bookmarks" class="d-flex items-center text-17 lh-1 fw-500 ">
          <i class="text-20 icon-bookmark mr-15"></i>
          Bookmarks
        </a>
      </div>
      <div class="sidebar__item ">
        <a href="/payement" class="d-flex items-center text-17 lh-1 fw-500 ">
          <i class="text-20 icon-bookmark mr-15"></i>
          Payement
        </a>
      </div>

      <div class="sidebar__item ">
        <a href="/messages" class="d-flex items-center text-17 lh-1 fw-500 ">
          <i class="text-20 icon-message mr-15"></i>
          Messages
        </a>
      </div>

      

      <div class="sidebar__item ">
        <a href="/profile" class="d-flex items-center text-17 lh-1 fw-500 ">
          <i class="text-20 icon-setting mr-15"></i>
          Settings
        </a>
      </div>

      <div class="sidebar__item ">
        <a href="/logout" class="d-flex items-center text-17 lh-1 fw-500 ">
          <i class="text-20 icon-power mr-15"></i>
          Logout
        </a>
      </div>

    </div>


  </div>